body {
  font-family: Arial, sans-serif;
}
@media print {
  body,
  html {
    height: auto; /* Убедитесь, что высота контента автоматически подстраивается */
  }
}
@media print {
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.n-wrapp {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px 10px;
  background-color: #f1f7e6;
}
.n-top {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.n-top-item {
  display: flex;
  flex-direction: column;
}
.n-top-logo {
  width: 170px;
}
.n-top-logo img {
  width: 100%;
}
.n-top-contact {
  display: flex;
  flex-direction: column;
}
.n-contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.n-contact-item img {
  width: 20px;
  height: 15px;
}
table {
  max-width: 700px;
  width: 100%;
  border-collapse: collapse;
  border-right: 1px solid #000;
}
td {
  border-right: 1px solid #000;
  padding: 0px 5px 0px 5px;
}
.column1 {
  width: 70%;
  font-size: 18px;
  font-weight: 500;
}
.col-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.column2 {
  width: 30%;
  font-size: 15px;
  font-weight: 500;
}
table span {
  display: inline-block;
  min-width: 10%;
  border-bottom: 0.1px solid #000;
}
.n-end {
  position: relative;
  top: 20px;
  left: 50px;
  border: none;
}
.n-price {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  padding-left: 10px;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.n-bold {
  font-weight: bold;
}
/*---blank__manual---*/
.n-manual {
  position: relative;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.n-manual-title {
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}
.n-manual-subtitle {
  font-size: 13px;
}
.n-manual-list {
  font-size: 12px;
}
