ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.n-form {
  display: flex;
  max-width: 700px;
  width: 100%;
}
.n-wrapper {
  display: flex;
  align-items: center;
}
.n-inner {
  display: flex;
  flex-direction: column;
}
.n-inner-item {
  display: flex;
}
.n-form-right {
  flex-basis: 70%;
}
